body {
    font-family: 'Oswald', sans-serif;
    margin: 0px;

    }

    a {
        text-decoration: none;
    }
#navigation {
    background-color:  tomato;
    display: flex;
    justify-content: flex-end;
    padding: 0 1em;
        position: fixed;
    width: 100%;
}
    div.testing {
        padding: 2em 1em;
        margin: 0;
    }

.card {
    width: 25%;
    display: flex;
    flex-direction: column;
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    justify-content: flex-end;
}

.card h5 {
        font-size: 1em;
    padding: .875em;
    color: #ddd;
    margin: 0;
    height: 60px;
    background-color: #000;
}

#newsReader {
    display: flex;
    flex-wrap: wrap;
    padding-top: 87px;
}
 #buzzfeedReader, #bbcReader {
    display: flex;
    flex-wrap: wrap;
}


    body #nav-wrapper {
        text-transform: uppercase;
        display: flex;
        padding-right: 2em;
    
    }


    nav > div a {
        text-decoration: none;
        color: seashell

    }

    .modal-trigger {
     width: 300px;
    height: 1em;
    position: absolute;
    top: 0px;
    left: 0px;
    }