body {
    font-family: 'Oswald', sans-serif;
    margin: 0px;

    }

    a {
        text-decoration: none;
    }



.sources {
    display: flex;
    background-color: #666;
    margin: 0px auto;
    justify-content: space-around;
}


.sources h3 {
    cursor: pointer;
    transition: color 0.5s ease;
    color: #f4f4f4;
}
.sources h3:hover {
    color: #FFDC14;

}

.article div h6{
    display: none;
}

.visible {
    transition: 2s;
    color: red;
}